
.text-field-nome {
	border-radius: 15px;
}

.text-field-usuario {
	border-radius: 15px;
}

.text-field-senha {
	border-radius: 15px;
}
.text-field-adm{
	border-radius: 15px;
}

.index-nome {
	margin-top: 4px;
	margin-left: 12px;
	text-align: -webkit-center;
}

.index-usuario {
	margin-top: 140px;
	text-align: -webkit-center;
}

.index-senha {
	height: 20px;
	margin-left: 309px;
	margin-top: 4px;
}

.index-adm {
	height: 20px;
	margin-left: 592px;
	margin-top: 4px;
}

.botao-cadastrar {
	width: 100px;
	height: 47px;
	margin-left: 660px;
	margin-top: 15px;
	border-radius: 9px;
}

.link-logar {
	margin-right: 10px;
	text-align: right;
	margin-top: 3px;
}