body {
	margin: 0px;
	border: 0px;
	background: #E7EBF2;
}

.index-titulo {
	width: 100%;
	height: 50px;
	font-family: fantasy;
	font-size: 40px;
	background: #4F94CD;
	margin-top: 50px;
	text-align: center;
}

.index-usuario {
	margin-top: 140px;
	text-align: -webkit-center;
}

.index-senha {
	height: 20px;
	margin-left: 587px;
	margin-top: 2px;
}

.botao-logar {
	width: 100px;
	height: 47px;
	margin-left: 650px;
	margin-top: 15px;
	border-radius: 9px;
}

.text-field-usuario {
	border-radius: 15px;
}

.text-field-senha {
	border-radius: 15px;
}

.link-cadastro {
	margin-right: 10px;
	text-align: right;
	margin-top: 3px;
}