@CHARSET "ISO-8859-1";

.config-salvar {
	font-size:150%;
	float: left;
	margin-left: 55%;
	margin-top: 3%;
}

.config-cadastrar {
	font-size:150%;
	float: left;
	margin-left: 55%;
	margin-top: 4%;
}

.config-deletar {
	font-size:150%;
	float: left;
	margin-left: 9%;
	margin-top: -25%;
}

.config-rotina {
	font-size:150%;
	float: left;
	margin-left: 9%;
	margin-top: -7%;
	display: none;
}

.config-rotina a{
	cursor: pointer;
}
